{
    "presets": [
        [
            "env",
            {
                "targets":{
                    "node": "6.10",
                    "browser": "last 2 versions"
                }
            }
        ],
        "stage-3"
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "env",
                    {
                        "targets":{
                            "node": "current",
                            "browser": "last 2 versions"
                        }
                    }
                ],
                "stage-3"
            ],
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}